@model List<Pokemon>

<h1>Nuget Pokemon</h1>

<form method="post">
    <label>Nombre:</label>
    <input class="form-control" type="text" name="nombre" />
    <label>Puntos:</label>
    <input class="form-control" type="text" name="puntos" />
    <button class="btn btn-primary">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puntos</th>
            <th>Tipo</th>
            <th>Rareza</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pokemon p in Model)
        {
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Puntos</td>
                <td>@p.Tipo</td>
                <td>@p.Rareza</td>
                <td>
                    <img src="@p.Imagen" style="height:100px" />
                </td>
            </tr>
        }
    </tbody>
</table>
